*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    cursor: pointer;
    
}

/* nav one  white background area */
.nav-header{
    width: 100%;
   justify-content: center;
 }
.icon-header{
    display: flex;
     justify-content: center;
     padding: 10px;
    font-size: 14px;
    font-weight: bold;
    }
.first-icon{
    margin-right: 68%;
    margin-top: 2px;
   }
   .second-icon{
        margin-left: 10px;
}
.second-icon span{
    margin-left: 30px;
}


.fas{
    margin-left: 50px;
    color: red;
    font-size: 20px;
}
.fas2{
    margin-left: 40%;
}

.dot{
  font-size: 17px;
  color: black;
  margin-right: 40px;
  float: right;
}

/* nav two start */
.super-nav{
    background-color: rgb(3, 3, 59);
    width: 100%; 
}
        #fas-icon-one{
            color: white;
            font-size: 15px;
            margin-left: 8px; 
        }

        #fas-icon-two{
            transform: rotate(-270deg);
            color: white;
            font-size: 20px;
            margin-right: 10px;
        }

        .mobile{
            display:flex;
            width: 100%;
            
        }
            .mobile li,.help{
                font-weight: 600;
                font-size: 18px;
                list-style-type: none;
                text-decoration: none;
                padding: 15px;
                color: white;
                
            }
            .mobile li a{
                text-decoration: none;
                color: white;
            }
            .mobile li:hover{
                background-color: rgba(110, 143, 140, 0.5);
                text-decoration: none;
            }
            .mobile .help:hover{
                background: none;
                color: blue;
            }
        
   
/* nav two end */
.dropdown-contents{
    display: none;
    
}

.mobile li:hover .dropdown-contents{
    display: flex                                                                           ;
    position: absolute;
    background-color: white;

}

.dropdown-contents .dropdown-contents-slave {
    padding: 15px;
 
}

.dropdown-contents .dropdown-contents-slave a{
    padding:8px;
    display:block;
    color: black;
    font-size: 13px;
    font-weight: 500;
    

}
.dropdown-contents .dropdown-contents-slave a:hover{
    text-decoration: underline;
    color: blue;
}




/* nav two dropdown start */
    



/* main area */
.info-page{
    background-image: url(images/background.jpg);
    background-size: cover;
    display: flex;
    padding: 20px;
  }

  .inner-background{
      background-color: rgba(35, 9, 68, 0.158);
      width: 100%;
      display: flex;
  }
.text-area{
    width: 30%;
    color: white;
    padding-top: 30px;
    padding-left: 50px;
}
.box{
   width: 120px;
   background-color: white;
   color: rgb(24, 4, 114);
   height: 20px;
   border-radius: 0.5rem;
   height: 30px;
   text-align: center;
   font-weight: bold;
   
    }
h1{
    font-size: 50px;
    font-weight: bold;
}
#lean{
    color: aquamarine
   whitesmoke
 }
 .center-card{
     width: 35%;
     margin-top: 100px;
     margin-left: 100px;
 }
 /* login area */
 .login-area{
     width: 30%;
     background-color: white;
     /* margin-top: 20px;
     margin-bottom: 20px;
     margin-right: 20px; */
     border-radius: 8px;
     padding: 20px;
 }
 .left-side{
     margin-left: 10px;
     font-size: 18px;
     font-weight: bold;
    
     display: block;
 }
 .right-side{
   margin-left: 200px;
   text-align: center;
 }
 .login-box{
    display: flex;
 }
 
 .user-input{
     border-radius: 0.5rem;
     width: 100%;
     text-align: center;
     background-color: rgba(204, 198, 198, 0.397);
     color: black;
 }
 .pass-box{
    margin-left: 50px;
}
 .pass-input{
    border-radius: 0.5rem;
    width: 150px;
    text-align: center;
    background-color: rgba(204, 198, 198, 0.397);
    color: black;  
 }
 .c-box{
     width: 25px;
     height: 25px;
     border-radius: 5rem;
     margin-top: 10px;
     margin-right: 10px;
 }
 .c-writtop{
     display: flex;
    }
    .c-write{
       margin-top: 10px;
    
    }
    .bar-two-long button{
        width: 100%;
        height: 50px;
        background-color: rgb(2, 2, 43);
        margin-top: 10px;
        color: white;
        border-radius: 0.5rem;
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
        justify-items: center;
        
    }
    .bar-two-long button:hover{
        background-color: rgb(12, 51, 42);
        }

        .long-box:hover{
            color: blue;
            width: 300px;
            height: 50px;
          
        }
 
    .buttom-link{
        display: flex;
        margin-top: 10px;
        font-weight: bold;
    }
    .firt-link{
        margin-right: 20px;
    }
    /* first-three-division-slid */
    .first-three-division{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 30px;
        font-weight: bold;
        margin-top: 30px;
        justify-content: space-around;
    }
    .first-slid{
        width: 35%;
          }
    .first-slid img {
        width: 80%;
        margin-top: 10px;
    }
    .second-slid{
        width: 35%; 
    }
  
    .third-slid{
    width: 35%;  
   }
   .third-slid img {
    width: 80%;
    margin-top: 10px;
    }
/* three btn boxes */
.first-blue{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: darkblue;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 8px;
}
.second-blue{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: darkblue;
    color: white;
    border-radius: 0.5rem;
    text-align: center; 
    padding-top: 8px; 
}
.third-blue{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: darkblue;
    color: white;
    border-radius: 0.5rem;
    text-align: center;  
    padding-top: 8px;  
}
/* first two slid */
.two-section{
    display: flex;
    margin-top: 50px;
 
}.section-one{
    width: 100%;
    margin-left: 30px;
}
.section-two{
    width: 100%;
  
}
.bar-one button{
    width: 150px;
    height: 50px;
    background-color: rgb(2, 2, 43);
    margin-top: 20px;
    color: white;
  
}
.bar-one button:hover{
background-color: rgb(12, 51, 42);
}
/* second-two-slid */
.simple{
    width: 100%;
    display: flex;
   margin-top: 50px;
    
}
.simple-one{
    width:50%;
    text-align: right;
    margin-right: 140px;
    float: right;
}
.simple-two{
    width:50%;
    margin-right: 100px;
    

}
.bar-two button{
    width: 200px;
    height: 50px;
    background-color: rgb(2, 2, 43);
    margin-top: 20px;
    color: white;
    border-radius: 0.5rem;
}
.bar-two button:hover{
    background-color: rgb(12, 51, 42);
    }
    /* third-two-slid */
    .last-slid-section{
        display: flex;
        margin-top: 50px;
         }
 .last-image-one{
        width: 150%;
        margin-left: 30px;
    }
    .last-image-one-test{
        width: 100%;
      
    }
    /* footer start */
    .master-div{
        width: 100;
        margin-top: 40px;
        display: flex;
        color: white;
        background-color: rgb(5, 4, 4);
        background-position: top;
        font-size: 15px;
        text-decoration: white;
        
      
    }
    .master-one{
        width: 15%;
        flex-wrap: wrap;
        margin-left:30px;
        margin-top: 20px;
       
    }
    .master-two{
        width: 15%;
        margin-top: 20px;
        margin-left: 50px;
    }
    .master-three{
        width: 15%;
        margin-top: 20px;
       
        margin-left: 20px;
    }
    .master-four{
        width: 15%;
        margin-top: 20px;
    
        margin-left: 20px;
    }
    .master-five{
        width: 15%;
        margin-top: 20px;
      
        margin-left: 20px;
    }
    .master-six{
        width: 15%;
        margin-top: 70px;
       display: flex;
        justify-content: center;
        margin-right:30px;
        font-size: 12px;
        text-align: center;
        flex-wrap: wrap;
    }
    .master-div a{
    color: white;
    }
    .logo-two i {
        color: white;
    }
    .box-one{
        margin-top: 40px;
        flex-wrap: wrap;
   }
   .box-one button{ 
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    padding: 10px;
 
   }
 
    .box-two{
        margin-top: 150px;

    }
    .box-two button{
        background-color: black;
        color: white;
        border-radius: 0.5rem;
       
    }

    .three-icon{
        margin-top: 150px;
        
    }
    .three-icon i{
        color: white;
    }
    .footer-list{
        width: 100%;
        background-color: rgb(5, 4, 4);
        background-position: top;
        height: 500px;

    }
  .display-list{
      display: flex;
      text-decoration: none;
      list-style-type: none;
     }
     .display-list li{
         margin-top: 30px;
         margin-left: 45px;
         color: white;
      
     }
     .line-1{
        height: 1px;
      background-color: white;
     }

     .line-2{
         height: 1px;
         border-top: 1px solid white;
     }
   .last-page{
       width: 100%;
       margin-top: 30px;
      
   }
   .row-1{
       margin-left: 40px;
       color: white;
   }
   .row-2{
       margin-left: 40px;
       color: white;
    
   }
   /* lather */
   .step{
       
       flex-wrap: wrap;
       background-color: rgb(19, 27, 23);
       margin-top: 100px;
       float: right;

   }
   .lader{
       margin-right: 50px;
       width: 1%;
       margin-top: 1px;
   }
   .footer-img{
       height: 50px;
       width: 1350px; 
   }

   .mobile-master{
       display: none;
   }
   .handbugger-icon{
       display: none !important;
   }



   /* media sreen section */
@media screen and (max-width: 900px){
    .mobile{
        flex-direction: column !important;
        width: 100%;
    }
    .info-page{
        flex-wrap: wrap;
    }
    .second-icon {
        display: none;
    }
    .text-area{
        width: 100%;
          text-align: center;
        flex-direction: column !important;
        margin-right: 70px;
    }
    .center-card{
        width: 100%;
         margin-top: 10px;
        margin-left: 40px;
    }
    .login-area{
        width: 95%;
        margin-top: 8px;
     
    }
    .first-three-division{
        flex-direction: column !important;
        width: 100%;
    }
    .first-slid{
        width: 100%;
    }
    .second-slid{
        width: 100%;
    }
    .third-slid{
        width: 100%;
    }
    .two-section{
        flex-direction: column !important;
        width: 100%;
            }
      .simple{
        flex-direction: column !important;
        width: 100%; 
      }
      .simple-one{
          width: 80%;
      }
      .simple-two{
          width: 90%;
          margin-top: 20px;
      }
      .last-slid-section{
        flex-direction: column !important;
        width: 100%; 
      }
      .last-slid-section{
        flex-direction: column !important;
        margin-top: 50px;
         }
         .master-div p:hover  a{
          flex-wrap: wrap;
            width: 100%; 
            position: relative;
         }
         .box-two{
            margin-top: 150px;
            width: 50%;
    
        }
        .master-div{
           flex-wrap: wrap;
        width: 100%; 
        }
        .three-icon{
            display: flex;
            font-size: 40px;
            margin-right: 50px;
        }
        .display-list{
           flex-direction: column;
            width: 100%;
            margin-right: 20px;
        }
        .master-five{
            display: flex;
            width: 100%;
        }
        .master-six{
            display: flex;
            width: 100%;

        }
        .last-page{
            width: 100%;
            margin-top: 30px;
            color: black;
            background-color: black;
            text-align: left;
            float: left;
            
        
           
           
        }
        .lader{
           
            width: 100%;
            margin-top: 20px;
            
        }
}
    

